.c-wrapper{
    margin: auto;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin-top: 100px;
    margin-bottom: 100px;
}

.c-heading>h2{
    font-size: 50px;
    font-weight: bold;
    color: var(--orange);
}

.c-heading>h4{
    font-size: 35px;
    font-weight: bold;
    color: var(--black);
}

.c-form>form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: var(--purple);
    padding: 50px 30px;
    border-radius: 2rem;
}

.c-form>form>input{
    width: 900px;
    padding: 30px 50px;
    outline: none;
    border: 2px solid var(--orange);
    background: inherit;
    color: var(--black);
    border-radius: 1rem;
}
.c-form>form>textarea{
    width: 900px;
    padding: 30px 40px;
    outline: none;
    border: 2px solid var(--orange);
    background: inherit;
    color: var(--black);
    border-radius: 1rem;
}

.c-form>form>button{
    background: var(--orange);
    padding: 20px 100px;
    width: fit-content;
    margin: auto;
    color: white;
    font-weight: bold;
    font-size: 28px;
    outline: none;
    border: 1px solid var(--orange);
    border-radius: 999px;
    cursor: pointer;
}