.n-wrapper{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
    margin: auto;
    position: sticky;
    z-index: 9;
}

.n-right{
    display: flex;
    flex: 1;
    gap: 2rem;
    align-items: center;
}

.n-name{
    font-size: 1.3rem;
    font-weight: bold;
}

.n-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.b-n-list>.n-list{
    flex: 10;
    display: flex;
    gap: 4rem;
    align-items: center;
}

.b-n-list>.n-list>ul{
    display: flex;
    gap: 4rem;
}

.b-n-list>.n-list>ul>li>a:hover{
    color: var(--orange);
    cursor: pointer;
}

.side-n-left{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
}

.side-n-list{
    position: absolute;
    top: 3rem;
    left: 0;
    background: var(--orange);
    color: white;
}

@media screen and (max-width: 376px){
    .n-wrapper{
        height: 10vh;
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        margin: auto;
        padding: 0 1rem;
    }

    .b-n-list > .n-list {
        display: none;
    }

    .side-n-left {
        display: flex;
    }
}

@media screen and (max-width: 413px) {
    .n-wrapper{
        height: 10vh;
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        margin: auto;
        padding: 0 1rem;
    }
}